{:client {:client-name "MY_CLIENT"
          :user "TESTUSER"
          :url "https://ORG_ID-ACCOUNT_ID.snowflakecomputing.com:443"
          :private-key "-----BEGIN PRIVATE KEY-----\nMII...\n-----END PRIVATE KEY-----\n"
          :port 443
          :host "ORG_ID-ACCOUNT_ID.snowflakecomputing.com"
          :scheme "https"}
 :channels [{:chan-name "my_channel"
             :database "TESTDATABASE"
             :schema "PUBLIC"
             :table "TESTTABLE"
             :on-error :continue
             :mqtt {:host "emqx1.emqx.net"
                    :port 1883
                    :clientid "chan1"
                    :topic "t/sf/1"
                    :qos 1
                    :clean-start false}}
            {:chan-name "my_channel2"
             :database "TESTDATABASE"
             :schema "PUBLIC"
             :table "TESTTABLE2"
             :on-error :abort
             :mqtt {:host "emqx1.emqx.net"
                    :port 1883
                    :clientid "chan2"
                    :topic "t/sf/2"
                    :qos 1
                    :clean-start false}}]}
